html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main {
    padding: 2rem;
}

#did-you-know {
  margin: 2rem 0 4rem 0;
}

.img-thumbnail {
  margin: 0 1rem 2rem 0;
}
